@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    font-family: 'Gelasio','Montserrat', "Press Start 2P", sans-serif;
    overflow-x: hidden;
    color: white;
    margin-top: 5px;
    flex-wrap: wrap;
}


.gameCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    animation: move 2s;
    font-size: 15px;

}


@keyframes move {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }  
}


.gameCard img{
    cursor: pointer;
    transition: all .5s ease;
    margin: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.divdetailgame > h5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divdetailgame > img{
    display: flex;
    justify-content: center;
}



.divdetailgame{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.divdetailgame .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: .5s;

}

.divdetailgame .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.divdetailgame .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 2%;
    /* width: 190px;
    height: 90px */
}

.divdetailgame .front h3 {
    position: absolute;
    bottom: 2.1rem;
    background-color: transparent;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    /* background: rgba(0,0,0,.4); */
    text-align: center;

}


.divdetailgame .back {
    transform: perspective(600px) rotateY(180deg);
    /* background: #8F5800; */
    background-color:rgb(9, 12, 12);
    border: 3px ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #817b7b;
}

.divdetailgame .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.divdetailgame .back h5 {
    letter-spacing: 1px;
    font-family: Gelasio;
} 

.divdetailgame:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.divdetailgame:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.textVideogame i{
    font-family: 'Press Start 2P', cursive;
}

.nombreGame i{
    font-family: 'Press Start 2P', cursive;

}

.nombreGame{
    margin-bottom: 1rem ;
    font-size: 15px;
    margin-top: 30px;
    
}




