.body{
    background-image: url("https://previews.123rf.com/images/nightblossom66/nightblossom661403/nightblossom66140300001/26903984-vector-de-fondo-con-un-tema-de-los-videojuegos-no-es-un-patr%C3%B3n.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position:fixed;
    background-position: 100% 100%
}


.h1{
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer ;
    -webkit-text-stroke: 1.5px black;
}

.btn{
    background-color:lightsteelblue;
    color: white; 
    width: 5vw;
    height: 5vh;
    border-radius: 5px;
    border-color:aquamarine;
    cursor: pointer ;
    
}

.btn:hover{
    color:mediumpurple;
}

.input{
    text-decoration: underline ;
    cursor: pointer ;
    background-color:lavender;
}

.img{
        width: 150px;
        height: 150px
      
      }

.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 20px;
    margin-top: 10px;
    
    
  }
.cards{
    grid-area:auto;
}


