.body {
    background-image: url("../GIFS/icono2.jpeg");
    background-size: 100%;
    width: 100%;
    height: 100vh;
    font-weight: bold;  
    text-align:center;
    text-transform: uppercase;
    font-size: 35px;
    cursor: pointer ;
    display: flex;
    flex-direction: column;
    /* justify-content: */

}

.h1{

    font-family: 'Press Start 2P', cursive;
    font-size: 40px;

color: #fff;
	margin-top: 5%;
	text-shadow:
		/* 0 0 5px rgba(0,178,255,1), */
		/* 0 0 10px rgba(0,178,255,1), */
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);

}
.h1:hover {
    color:rgb(201, 170, 201)
}

.btn{
    margin-top: -2.5%;
 
    cursor: pointer ;
}






