.nav{
    list-style: none;
   display: flex;
   text-align: center;

   /* display: grid;
   grid-template-columns: 33% ;
   grid-template-rows:auto ; */
  
}

.nav ul{
    list-style: none;
    display: flex;
    /* text-align: center; */
    /* background: 100% 100%; */
    /* margin-right: 50%; */
    margin-left: 30%;
    margin-top: 30px;
}


.nav li{
    color: #fff;
    
    margin-top: 0.5%; 
    text-shadow:
        0 0 5px rgb(255, 0, 242),
        0 0 10px rgb(255, 0, 242),
        0 0 20px rgb(255, 0, 242),
        0 0 40px rgb(238, 0, 255),
        0 0 80px rgb(238, 0, 255),
        0 0 90px rgb(238, 0, 255),
        0 0 100px rgb(238, 0, 255),
        0 0 140px rgb(238, 0, 255),
        0 0 180px rgb(238, 0, 255);
   
     background-color:rgb(43, 3, 43);
    /* color:rgb(103, 46, 127);  */
    font-size: 15px;
    
    width: 50px;
    height: 20px;
    border-radius: 10px;
    border: 1.8px solid ;

    /* border-style: double; */
    cursor: pointer ;
}


.btn:hover{
    color: rgb(214, 181, 214);
}



.active{
    color: black;
    text-decoration: underline;


}


.button{
    cursor: pointer; 
    border-radius: 5px;
    background-color:rgb(43, 3, 43);
    color:white;
    font-size: 15px;
    height: 30px;
    width: 50px ;
    border-radius: 10px;
    border: 1.5px solid white;
    
}

.button :hover{
   color: white;
}
