
*,
*::after,
*::before{
    box-sizing: border-box;
}

.containerDet {
    background-image: url("https://fondosmil.com/fondo/3618.jpg");
    background-size: 100%;
    width: 100%;
    height: 100vh;
    /* max-width: 1000px; */
    object-fit: cover;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden ;
    text-align:center;
}

.titImg{
    height: 11vh;
    display: flex;
    flex-direction: raw;
    text-align:center;
 justify-content: flex-start;
 flex-wrap: wrap;
}
.button{

    margin-top: 3px;
    width: 90px;
    height: 90px;
    cursor: pointer ;
    margin-left: 20px;

}

.envImg{
    height: 80vh;
    flex-direction: raw;
    text-align: center;
    flex-wrap: nowrap;
    /* justify-content:center; */
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;

    backdrop-filter: blur(2px);
    background-color: rgba(112, 117, 112, 0.045);
    box-shadow: 1px 1px 25px 5px rgb(61, 58, 58);
    /* height: 500px; */
   

    width: 90vw;
    /* background-color: rgba(169, 142, 180, 0.308);
    border: 1px solid aliceblue; */
    border-radius: 14px;
    transition: transform 0.15s;
    margin-left: 25px; 
    font-size: 20px;
   
    /* margin: 0 auto; */
    
   
/*    
    margin-top: 3%; */
   
}



.envImg :hover {
    cursor: pointer;
    transform: scale(1.0);
    filter: drop-shadow(0 0 20px rgba(252, 252, 252, 0.742));
}
    


.nombre{
   
        font-weight: bold;  
        font-family: "Press Start 2P", cursive;
        text-transform: uppercase;
        /* text-align: center; */
        font-size: 25px;
        cursor: pointer ;
        

        color: #fff;
        margin-bottom: 15px;
            text-shadow:
                0 0 5px rgba(0,178,255,1),
                0 0 10px rgba(0,178,255,1),

                0 0 140px rgba(38,104,127,1),
                0 0 180px rgba(38,104,127,1);
        /* width: 50vw; */
        
        
        }
        .h1:hover {
            color:rgb(219, 238, 241)
        }
    
.fotoDetalle{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
     margin-top: 3px; 
     margin-bottom: 5px; 
     flex-direction: raw;
     /* margin-left:5px;
     margin-right:-10px; */

     margin: auto;
     /* width: fit-content; */
     /* text-align: center; */
     width: 90vw;
     height: 65vh;
     /* text-align: center; */

}

.img{
height: 45vh;
width : 45vw; 
border-radius: 5px;
/* margin-left: 15px; */



}   

.parrafo{ 
display: flex;
flex-direction: raw;
font-size: 20px;
letter-spacing: 2px;
flex-wrap: nowrap;

height: 45vh;
width : 40vw; 
/* margin-top: 1.5%;
margin-bottom: 1.5%; */
/* margin-left: 15px;
margin-right: -10px;
margin-top: 10px; */
/* margin: auto; */

  
/* margin-top: 40px;
margin-bottom: 4px; */
/* margin: auto; */
}

.p{
/* padding: 1px; */
height: 45vh;
width : 40vw; 

font-size: 15px;
font-weight: 500; 

text-align: justify-all;
letter-spacing: 1;
overflow: hidden;


}

.otraInfo{
display: flex;
flex-direction: raw;
text-align: center;
justify-content: space-evenly;
width: 90vw;
height: 30vh;
font-family: "Press Start 2P", cursive;
margin: auto;


}

.label{
    font-size: 12px;
    margin-top:1px ;
    margin-bottom: 3px;
    text-align: center;
    
    cursor: pointer;

    color: #fff;
    margin-bottom: 15px;
        text-shadow:
            /* 0 0 5px rgba(0,178,255,1), */
            0 0 10px rgba(0,178,255,1),

            /* 0 0 140px rgba(38,104,127,1), */
            0 0 180px rgba(38,104,127,1);
 
            backdrop-filter: blur(2px);
            background-color: rgba(112, 117, 112, 0.045);
            box-shadow: 1px 1px 25px 5px rgb(61, 58, 58);  
            border-radius: 14px;
    transition: transform 0.15s;  
    height: 15vh;   
    cursor: pointer;

    }
    .h1:hover {
        color:rgb(17, 19, 19);
        
    }


.parr{
    
    font-size: 10px;
    text-align:center;
    height: 40vh;
    justify-content:space-evenly;
    color:whitesmoke ;
    width: 20vw;
   
  
} 



.delete{
    color: #fff;
   
 
    margin-bottom: 15px;
    text-shadow:
        0 0 5px rgb(255, 0, 242),
        0 0 10px rgb(255, 0, 242),
        0 0 20px rgb(255, 0, 242),
        0 0 40px rgb(238, 0, 255),
        0 0 80px rgb(238, 0, 255),
        0 0 90px rgb(238, 0, 255),
        0 0 100px rgb(238, 0, 255),
        0 0 140px rgb(238, 0, 255),
        0 0 180px rgb(238, 0, 255);
   
     background-color:rgb(43, 3, 43);
    /* color:rgb(103, 46, 127);  */
    font-size: 15px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 1.8px solid ;

    /* border-style: double; */
    cursor: pointer ;
}


.delete:hover{
    color: rgb(214, 181, 214);
}



